*{
    margin :0;
    padding: 0;
     }
     body{
        background: linear-gradient(135deg,#71b7e6,#9b56b6);

     } 
     body{
        font-family: "Ubuntu", serif;
        font-weight: 300;
        font-style: normal;

}

/*navbar*/
.nav-link {
    color: white; /* Default color */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition */
}

.nav-link.active {
        color: #385568;
    font-weight: bold;
}

.logo{
    font-size: 27px;
    font-weight: 700;
    color: white;
}
.mainpage{
   
    position: relative;
    width: 100%;
    height: 100vh;
    display: inline-block;

    
}
.navbar {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex; 
    justify-content: space-between;
    padding :30px 50px;
}

ul 
{
list-style-type: none;
}
li
{
  display: inline-block;
 
}
li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  
}
.items{
    width: 65%;
    display: flex;
    justify-content: right;

}
.items li {
margin-right: 40px;
margin-left: 20px;
}
.items li a:hover{
    color: #385568;
}

#search{
   padding: 8px;
    margin-left: 15px;
    margin-right:15px ;
    border-radius: 5px;
    border: 1px solid #ddd;

}
.btnthread{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;

}
a
{
    text-decoration: none;
    color: white;
}
.btnthread a{
    color: #1e2930;
}
.btnthread a:hover{
    color: #385568;
}
/*end navbar*/
.footer {
    background-color: linear-gradient(135deg,#71b7e6,#9b56b6)95c5;
    position: relative;
  }
  
  .icons {
    margin-left: 45%;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .icons i:hover
  {
    color: #1e2930;
    cursor: pointer;
  }
  .icons i {
    transition-property: all;
    transition-duration: 1s;
    color: #fff;
    margin-left: 20px;
  }
  
  .texted {
    font-weight: 400;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    text-align: center;
  }
  
  .color {
    display: inline-block;
    color:  #1e2930;
    text-decoration: none;
    transition-property: all;
    transition-duration: 1s;
  }